<p><h1>Welcome <%= @email %>!</h1>></p>

<p><h2>Thank You for Joining the Discussions Forum. Before you can begin please confirm your account email through the link below:</h2></p>

<p><h3><%= link_to 'CONFIRM MY ACCOUNT', confirmation_url(@resource, confirmation_token: @token) %></h3></p>

<p> Thank You For Your Support</p>
<p> Andre Merten</p> 
<p>Discussions Founder and CTO</p>

